$fontSize: 16px;
$fontSizeSmall: 12px;
$blueColor: #3BCCF6;
$fontSizeMiddle: 18px;
$fontSizeLarge: 25px;
$iconSize: 22px;

.setMarginTop{
 margin-top: 30px !important;
}
body{
    margin: 0px;
}
.searchMainDiv{
    input[type="text"]{
        border: none;
        outline: none;
        :focus{
            outline: none;
        }
    }
    svg{
        width: $iconSize;
    }
}

.kiCommonCss{
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 50px;
    display: flex;
    .MuiTabs-indicator{
        display: none;
    }
    .MuiTableContainer-root {
        width: 90%;
        overflow-x: auto;
        padding: 5%;
    }
}
.kiCollapseDiv{
    margin-top: -10px;
    .MuiTab-wrapper {
        height: 27px;
        text-transform: none;
    }
   
    .Mui-selected {
        color: $blueColor;
    }
    .MuiTabScrollButton-vertical {
        svg{
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background-color: lightgray;
            opacity: .5;
        }
    }
}

.kiUserProMain{
    padding-left: 16px;
    img{
    border-radius: 100%;
    }
    div{
        font-size: $fontSize;
        color: #707070;
        margin-left: 10px;
        p{
            font-size: $fontSizeSmall;
            margin: 0px;
        }
    }
    
}
.kiMakeLabaleDiv{
    width: 90%;
    p{
        font-size: $fontSize;
    }
    svg{
        width: $iconSize
    }
}

.kiBoxCommon{
    padding: 20px 40px;
    border-radius: 13px;
    color: #fff;
    text-align: left;
    width: 80%;
}
.boxOneBtnHead{
    font-size: $fontSize;
    margin: 0px;
}
.boxOneBtnPrice{
    font-size: $fontSizeLarge;
    margin: 0px;
}
.kiPendingBtn{
    width: 130px;
    color: #fff !important;
}